<div class="usersAdm" id="usersStatistics">
     <h1>Gestión de usuarios</h1>
    <div class="usersAll row">
    <% if (AllUsersInfo.length > 0) { %>
        <% for (let user of AllUsersInfo) { %>
            <% if (user.id != 1 ) { %>
                <div class="col-sm-3 oneUserInfo">
                    <p class="userNameStatistics"><%= user.username %>  </p>
                    <p><%= user.mail %>  </p>
                    <p>Acceso permitido: <%= user.enableAccess %>  </p>
                    <form method="POST" action="myProfile/removeAdmin/<%= token %>/<%= user.id %>">
                        <input type="submit" class="btn btn-danger removeButton" value="Bloquear">
                    </form>
                </div>
            <% } %>
        <% } %>
    <% } %>       
    </div>       
</div>